* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Public Sans", serif;
  transition: 180ms ease-out;
  scroll-behavior: smooth;
}

/* Light Mode */
:root {
  --background: #f9fafb;
  --background-2: #fff;
  --primary-text: #1f2937;
  --secondary-text: #424e5e;
  --secondary-color: #10b981;
  --secondary-color2: #10b981;
  --icone-fill: #1f2937;
  --links-back:  #ffd700;
}

/* Dark Mode */
.darkmode{
  /* --background: #000601;
  --background-2: #000000;
  --primary-text: #f1f1f1;
  --secondary-text: #dadada;
  --secondary-color: #10b981;
  --secondary-color2: #ffffff;
  --icone-fill: #fff; */
  --links-back:  #ffffff;
  --background: #121212; /* Dark background */
  --background-2: #1e1e1e; /* Slightly lighter for contrast */
  --primary-text: #e5e7eb; /* Light gray for primary text */
  --secondary-text: #9ca3af; /* Medium gray for secondary text */
  --secondary-color: #34d399; /* Brighter green for dark mode */
  --secondary-color2: #ffffff; /* A slightly darker green for variation */
  --icone-fill: #f3f4f6; /* Light color for icons */
}
svg{
  fill: var(--primary-text);
}
button{
  cursor: pointer;
}
body {
  background-color: var(--background);
}
::selection {
  background-color: var(--links-back); /* Gold background */
  color: #000000; /* Black text */
}
header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 8rem;
  width: 100%;
  position: fixed;
  z-index: 99;
}
header div {
  width: 80%;
}
header div nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-radius: 5rem;
  background-color: var(--background-2);
  animation: mymove 5s infinite ease-out;
  height: 5rem;
  z-index: 1;
}
/* header div nav:hover {
  box-shadow: 0px 10px 13px 0px rgba(16, 185, 129, 0.36);
  -webkit-box-shadow: 0px 10px 13px 0px rgba(16, 185, 129, 0.36);
  -moz-box-shadow: 0px 10px 13px 0px rgba(16, 185, 129, 0.36);
} */
header div nav h1 {
  color: var(--primary-text);
  font-weight: 800;
}
header div nav h1::first-letter {
  color: var(--secondary-color);
}
.name {
  color: var(--secondary-color);
}
header div nav h1:hover {
  transform: scale(1.05);
}
header div nav ul {
  display: flex;
  gap: 0 2rem;
  list-style: none;
}
header div nav ul li {
  font-weight: 700;
  text-transform: capitalize;
  padding: 15px;
}

header div nav ul li a {
  text-decoration: none;
  color: var(--primary-text);
  font-size: 18px;
}
header div nav ul li a:hover {
  color: var(--secondary-color);
}
.icon-nav {
  display: none;
  user-select: none;
  fill: var(--icone-fill);
}
.icon-nav:hover {
  fill: var(--secondary-color);
}
.active {
  background-color: var(--links-back);
  color: #000;
}
.active:hover {
  color: #4b4b4b;
}
header div nav button {
  background-color: transparent;
  border: none;
}
header div nav button #light-mode {
  display: none;
}

.section1 {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1 .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 2000px;
  padding: 0 0 0 2rem;
}
.section1 .info .info-text {
  animation: appear 0.5s ease-out;
}
.section1 .info .info-text h2 {
  color: var(--primary-text);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}
.section1 .info .info-text h1 {
  font-size: 60px;
  font-weight: 800;
  margin-bottom: 16px;
  color: var(--primary-text);
}
.section1 .info .info-text h1::first-letter {
  color: var(--secondary-color);
}
.section1 .info .info-text p {
  font-size: 36px;
  color: var(--primary-text);
}
.section1 .info .info-text .p-l-icon {
  margin-top: 20px;
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section1 .info .info-text .p-l-icon svg:hover {
  fill: var(--secondary-color);
}

.section1 .info-image {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: appear1 0.5s ease-out;
}
.section1 .info-image img {
  /* width: 20rem;
    height: 20rem; */
  width: 70%;
  height: 70%;
  border-radius: 100%;
  border: 2px dashed var(--secondary-color2);
}
.section2 {
  width: 100%;
  height: 100vh;
  min-height: 500px;
  background-color: var(--background-2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .div-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  max-width: 2000px;
}
.section2 .div-about .about-image {
  width: 40%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: appear 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
.section2 .div-about .about-image img {
  width: 100%;
  height: 100%;
  border: 2px dashed var(--secondary-color2);
  border-radius: 4%;
}
.section2 .div-about .about-text {
  width: 60%;
  padding: 3rem 0 3rem 6rem;
  animation: appear1 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
.section2 .div-about .about-text h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--primary-text);
}
.section2 .div-about .about-text p {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--secondary-text);
}
.section2 .div-about .about-text q {
  /* background-color: var(--secondary-color); Gold background */
  color: var(--secondary-color);
  user-select: none;
}
.uppercase {
  text-transform: uppercase;
}
.section2 .about-text .accounts {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}
.section2 .about-text .accounts a .svg {
  width: 50px;
  height: 50px;
}
.section2 .about-text .accounts a .svg:hover,
.skills .div-skills div svg:hover {
  fill: var(--secondary-color);
}
.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15rem;
  width: 100%;
}
.skills .div-skills {
  height: 100%;
  width: 30%;
}
.skills .div-skills div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  flex-direction: column;
}
.skills .div-skills div svg {
  width: 100px;
  height: 100px;
}

.div-wrapper {
  animation: appear1 0.5s ease-out;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.wrapper {
  --font-color-dark: #fefefe;
  --font-color-light: #111;
  --bg-color: #10b981;
  --main-color: #fefefe;
  width: 10px;
  height: 300px;
  background-color: var(--bg-color);
  border-radius: 34px;
  padding: 2px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.option {
  width: 80%;
  height: 80px;
  position: relative;
  top: 1px;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--font-color-dark);
}

.input:checked + .btn {
  background-color: var(--main-color);
}

.input:checked + .btn .span {
  color: var(--font-color-light);
}
/* Animations */
@keyframes mymove {
  50% {
    box-shadow: 0px 10px 13px 0px rgba(16, 185, 129, 0.36);
    -webkit-box-shadow: 0px 10px 13px 0px rgba(16, 185, 129, 0.36);
    -moz-box-shadow: 0px 10px 13px 0px rgba(16, 185, 129, 0.36);
  }
}
@keyframes appear {
  from {
    opacity: 0;
    scale: 0.9;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0px);
  }
}
@keyframes appear1 {
  from {
    opacity: 0;
    scale: 0.9;
    transform: translateX(+100px);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0px);
  }
}

/*  */
@media (max-width: 1350px) {
  .section2 .div-about .about-text h1 {
    font-size: 30px;
    margin-bottom: 12px;
  }
  .section2 .div-about .about-text p {
    margin-bottom: 8px;
    font-size: 16px;
  }
  .section2 .div-about .about-text {
    padding: 1rem 0 1rem 3rem;
  }
}
@media (max-width: 1020px) {
  header div nav ul {
    gap: 0 0;
  }
  .section1 {
    min-height: 800px;
  }
  .section1 .info {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .section1 .info-image {
    margin-bottom: 4rem;
    min-width: 250px;
    height: 50%;
    justify-content: center;
  }
  .section1 .info .info-text h2,
  .section1 .info .info-text h1,
  .section1 .info .info-text p {
    text-align: center;
  }
  .section1 .info {
    padding: 0 0 0 0;
  }
  .section2 .div-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 2000px;
  }
  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .div-wrapper {
    width: 60%;
    min-width: 546px;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .wrapper {
    width: 300px;
    height: 10px;
    padding: 2px;
    flex-direction: row;
  }

  .option {
    width: 80px;
    height: 80%;
    top: 0;
  }
}
@media (max-width: 420px) {
  header div nav h1 {
    display: none;
  }
}
@media (max-width: 550px) {
  header div {
    width: 100%;
    border-radius: 0;
    box-shadow: 0px 0px 6px 2px rgba(16, 185, 129, 1);
    -webkit-box-shadow: 0px 0px 6px 2px rgba(16, 185, 129, 1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(16, 185, 129, 1);
  }
  header div nav {
    border-radius: 0;
  }
  .active {
    background-color: transparent;
  }
  header {
    bottom: 0px;
  }
  .a-span {
    display: none;
  }
  .icon-nav {
    display: block;
  }
}
@media (max-width: 700px) {
  header div {
    width: 99%;
  }
  header div nav h1 {
    font-weight: 600;
    font-size: 20px;
  }
  header div nav ul li {
    font-weight: 500;
    text-transform: capitalize;
  }
  header div nav ul li a {
    font-size: 15px;
    padding: 0 5px;
  }
}
@media (max-width: 800px) {
  header div nav ul li {
    font-weight: 400;
    text-transform: capitalize;
    padding: 8px 10px;
  }
  header div nav ul li a {
    font-size: 18px;
  }

  .section1 .info .info-text h2 {
    font-size: 35px;
  }
  .section1 .info .info-text h1 {
    font-size: 55px;
  }
  .section1 .info .info-text p {
    font-size: 31px;
  }
  .section2 {
    width: 100%;
    height: 1000px;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section2 .div-about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    width: 80%;
    max-width: 2000px;
  }
  .section2 .div-about .about-image {
    width: 50%;
    height: 50%;
    animation-range: entry 0 cover 20%;
  }

  .section2 .div-about .about-text {
    width: 100%;
    padding: 3rem 0;
    text-align: center;
  }
  .section2 .div-about .about-text h1 {
    animation: appear1 0.5s ease-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .section2 .div-about .about-text p {
    animation: appear 0.5s ease-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .section2 .div-about .about-text q {
    /* background-color: var(--secondary-color); Gold background */
    color: var(--secondary-color);
    animation: appear 0.5s ease-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    user-select: none;
  }
  .div-wrapper {
    animation: appear 0.5s ease-out;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    width: 95%;
    min-width: 200px;
    justify-content: center;
    align-items: center;
  }
  .section2 .about-text .accounts {
    margin-top: 0;
    justify-content: center;
    width: 100%;
    gap: 0 10%;
  }
}
